{% extends "base.html" %}

{% block title %} home {% endblock %}
{% block content %} 
    <h1 style="text-align: center"> Bank and Paypal clients with balances </h1>
    <h1 style="text-align: center"> {{ error_message }} </h1>
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3> Bank </h3>
            <table>
                {% for each in bank_list %}
                <tr>
                    <td>{{each.name}}</td> 
                    <td>{{ each.balance }}</td> 
                </tr>
                {% endfor %} 
            </table>
        </div>
        <div class="col-md-5">
            <h3> PayPal </h3>
            <table >
                {% for each in paypal_list %}
                <tr>
                    <td>{{each.name}}</td> 
                    <td>{{ each.balance }}</td> 
                </tr>
                {% endfor %} 
            </table>
        </div>        
    </div>
</div>

{% endblock %}